<%= form_for ([@user, @activities]) do |f| %>


<br>
<img src = "<%=@user.image_url%>">
<p>
  <strong>Name:</strong>
  <%=@user.name %>
  <strong>Age:</strong>
  <%=@user.age %>
</p>

<h3>New Activity</h3>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>



    <%= f.label :text %>
    <%= f.text_area :text %>



    <%= f.label :img_url %>
    <%= f.text_field :img_url %>



    <%= f.submit %>
  </p>
<% end %>
