<h1>Current Activities</h1>
<%= link_to 'New Activity', new_user_activity_path(@user) %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @activities.each do |a| %>
  <tr>
    <td><%= a.title %></td>
    <td><%= a.text %></td>
    <td><%= link_to 'Show', user_activity_path(@user, a) %>
    <td><%= link_to 'Edit', edit_user_activity_path(@user, a) %></td>
    <td><%= link_to 'Delete', user_activity_path(@user, a),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
