<h1>Current Activities</h1>
<%= link_to 'New Activity', new_activity_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>

  <% @activities.each do |a| %>
  <tr>
    <td><%= a.title %></td>
    <td><%= a.text %></td>
    <td><%= link_to 'Show', activity_path(a) %>
    <td><%= link_to 'Edit', edit_activity_path(a) %></td>
    <td><%= link_to 'Delete', activity_path(a),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    </tr>

    <%= link_to 'Back', activities_path %>
  <% end %>
</table>
