




<p>
  <strong>Title:</strong>
  <%=@activities.title %>
</p>

<p>
  <strong>Text:</strong>
  <%=@activities.text %>
</p>


  <img src = "<%=@activities.img_url%>">




<%= link_to 'Edit', edit_user_activity_path(@activities) %>
<%= link_to 'Back', user_activities_path %>
