<%=render 'form'%>

</form>'

<p>
  <strong>Name:</strong>
  <%=@user.name %>
</p>


<p>
  <strong>Title:</strong>
  <%=@activities.title %>
</p>

<p>
  <strong>Text:</strong>
  <%=@activities.text %>
</p>


  <img src = "<%=@activities.img_url%>">

  <div>
    <%=@user = User.create(user_params)%>
  </div>

<%= link_to 'Edit', edit_user_activity_path(@activities) %>
<%= link_to 'Back', user_activities_path %>
